html {
    font-size: initial;
}

body {
    header {
        height: 15vh;
        background-color: blue;
        color: white;
        display: flex;
        justify-content: space-between;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            margin: 0px 10px 0px 0px;
        }
        li {
            display: inline;
            margin: 0px 20px 0px 0px;
        }
    }
    main {
        height: 80vh;
        background-color: violet;
        .présentation {
            background-color: pink;
        }
    }
    footer {
        height: 5vh;
        background-color: rosybrown;
    }
}